@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: 1.2;
}
/*Padding and Margin for REM with PX fallback*/
@mixin padding($values...) {
  $px : ();
  $rem: ();
  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    @else {
      $px : append($px,  ($value + px));
      $rem: append($rem, ($value / 10 + rem));
    }
  }
  #{padding}: $px;
  #{padding}: $rem;
}
@mixin margin($values...) {
  $px : ();
  $rem: ();
  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    @else {
      $px : append($px,  ($value + px));
      $rem: append($rem, ($value / 10 + rem));
    }
  }
  #{margin}: $px;
  #{margin}: $rem;
}
/*RGBA fallbacks for old browsers*/
@mixin background-rgba($r, $g, $b, $a) {
  background-color: rgb($r, $g, $b);
  background-color: rgba($r, $g, $b, $a);
}
//font mixins
@mixin font-primary {
  font-family: $font-primary;
}
@mixin font-secondary {
  font-family: $font-secondary;
}
@mixin font-tertiary {
  font-family: $font-tertiary;
}
@mixin font-light {
  font-weight: 300;
}
@mixin font-regular {
  font-weight: 400;
}
@mixin font-semibold {
  font-weight: 600;
}
@mixin font-bold {
  font-weight: 700;
}