/*Colors*/
$primary-font-color : black;
$second-font-color : white;
$tertiary-font-color : blue;

$primary-color : white;
$secondary-color : black;
$tertiary-color : red;

$font-size : 14;

$font-primary: arial, sans-serif;
$font-secondary: arial, sans-serif;
$font-tertiary: arial, sans-serif;



